<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/main.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=arial:500,800" rel="stylesheet" media="all">
</head>
<body class="background">
<section class="container" id="circle">

</section>
<section class="container">
		<div class="row"> 
			<div class="col-12">
				<img src="img/logo.png" class="img-responsive logo d-none d-lg-block" alt="">
			</div>
			<div class="col-md-7 col-12 mx-auto">
				<h3 class="">PÁSELE,</h3>
				<H2 class="pl-lg-5 pl-md-2">PÁSELE</H2>
				<H1 class="pl-lg-5"> <span class="pl-lg-5"> GÜERITO! </span></H1>
			</div>
			<div class="col-12">
				<img src="img/logo.png" class="img-responsive logo-res d-block d-lg-none mx-auto" alt="">
			</div>

		</div>	
</section>
</body>
</html>