@require 'bootstrap.css'
@require 'undvars'



.background
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-image: url('/img/slide1.png') !important
	z-index: 0
	margin: 0
	padding: 0
	width: 100%
	height: 100vh
	overflow-y: hidden
@font-face
	font-family: "TragicMarker"
	src: url(../fonts/TragicMarker.otf) format("truetype")	
#circle	
	position:absolute
	top: 0%
	left: 50%
	width:35em
	height:35em
	margin-top: 6em /*en negativo la mitad de la altura (height)*/
	margin-left: -17em /*en negativo la mitad del ancho (width)*/
	border: 1px solid rgba(215, 28, 35, 0.7);
	background-color rgba(215, 28, 35, 0.7);
	background-blend-mode multiply
	border-radius: 50%
h3
	padding-top: 22vh
	font-family: "TragicMarker"
	color: white
	font-size 6em
	transform: rotate(-6deg)
	text-shadow: 2px 2px 10px black
	font-weight: 300
	margin-bottom: 0	
	&:hover
		font-size: 6.5em
h2
	font-family: "TragicMarker"
	color: white
	font-size: 8em
	transform: rotate(-6deg)
	text-shadow: 2px 2px 10px black
	font-weight: 300	
	margin-bottom: 0
	&:hover
		font-size: 8.5em
h1
	font-family: "TragicMarker"
	color: white
	font-size: 10em
	transform: rotate(-6deg)
	text-shadow: 2px 2px 10px black
	font-weight: 300	
	margin-bottom: 0
	&:hover
		font-size: 10.5em
.logo
	position: absolute
	width: 350px
	height 230px
	transform: rotate(20deg)
	margin-top: 6em 
	margin-left: 30em
	text-shadow: 2px 2px 4px #000000;
	&:hover
		transform: rotate(0deg)
.logo-res
	width: 250px
	height auto
	bottom: 0px
		